{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends ea.templatePath('layout') %}
{% trans_default_domain ea.i18n.translationDomain %}

{% block page_title %}{{ page_title is defined ? page_title|raw : (ea is defined ? ea.dashboardTitle|raw : '') }}{% endblock %}

{% block head_favicon %}
    {% if favicon_path|default(false) %}
        <link rel="shortcut icon" href="{{ favicon_path }}">
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block wrapper_wrapper %}

    {% block flash_messages %}
        {% include '@EasyAdmin/flash_messages.html.twig' %}
    {% endblock %}

    <section class="{% block security_section_class 'page-login' %}">

        <div class="{% block security_wrapper_class 'login-wrapper eau-login-wrapper' %}">

        {% block security_header %}
            <header class="main-header {% block security_header_class 'text-center mb-2' %}">

                {% block header_logo %}
                    <div id="header-logo" class='header-logo mb-2'>
                        {% if header_logo|default(false) is not empty %}
                            <img class="img-fluid logo" src="{{ header_logo }}">
                        {% endif %}
                    </div>
                {% endblock header_logo %}

                {% block header_title %}
                    <div id="header-title" class='header-title'>
                        {% if header_title is not empty %}
                            <h5 class="h5 logo {{ header_title|length > 14 ? 'logo-long' }}" title="{{ header_title|striptags }}">
                                {{ header_title|raw }}
                            </h5>
                        {% endif %}
                    </div>
                {% endblock %}

            </header>
        {% endblock %}

        {% block security_body %}
            <section class="content {% block security_body_class 'mb-3' %}">

                {% block security_error %}
                    {% if error|default(false) %}
                        <div class="w-100 alert alert-danger rounded mb-3">
                            <i class="fas fa-times-circle me-1"></i>
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                {% endblock %}

                {% block security_info %}
                    {% if app.user %}
                        <div class="mb-3 alert alert-info rounded">
                            <i class="fas fa-info-circle me-1"></i>
                            You are currently logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                {% endblock %}

                {% block security_form %}
                    {# Render your form tag and elements here #}
                {% endblock security_form %}

            </section>
        {% endblock security_body %}

        {% block security_footer %}
            <footer class="main-footer {% block security_footer_class 'w-100 text-center' %}">
                {% block footer_content %}{% endblock %}
            </footer>
        {% endblock %}

        </div>

    </section>
    
    {{ block('modal_wrapper') }}
    
{% endblock %}
