{% set notification_alerts = eau.notifications(app.user, {criteria: {seenByUser: false}})|length %}
{% set notification_total = app.user ? app.user.notifications|length %}

{% set header_notification_dropdown %}
    <ul class="dropdown-menu dropdown-menu-end py-2 px-3 fs-13px" data-notification-delegate>
    
        {% block notification_header %}
            <li class='notification-header'>
                <div class="d-flex justify-content-between align-items-center">
                    <div class='fw-semibold'>Notifications</div>
                    {% if notification_total %}
                        <button class="btn btn-sm btn-link fs-12px" data-notification-action="read-all">
                            Mark all as read
                        </button>
                    {% endif %}
                </div>
                <div class='border-bottom my-2'></div>
            </li>
        {% endblock %}

        {% block notification_body %}
            <li class="notification-body notification-global {{ notification_body_class|default('') }}">
                {% if notification_total %}
                    <div class="notification-container">
                        {% for notification in eau.notifications(app.user, {limit: 4}) %}
                            {% include eau.templatePath('section/notification_item') with {'notification': notification} %}
                        {% endfor %}
                    </div>
                {% else %}
                    {% block notification_void %}
                        <div class="p-2 text-bg-light rounded">
                            <i class="fas fa-question-circle"></i>
                            {{ notification_void_text|default('You have not received any notification') }}
                        </div>
                    {% endblock %}
                {% endif %}
            </li>
        {% endblock %}

        {% block notification_footer %}
            <li class="notification-footer">
                {% if notification_total %}
                    <a class='text-center d-block p-1' href='{{ ea_url().setRoute("app_notification") }}'>Notification history</a>
                {% endif %}
            </li>
        {% endblock %}
    </ul>
{% endset %}

<div class="user-notification-menu {{ baseClass|default('ms-3') }}">
    {% block header_notification %}
        <div class="dropdown header-notification">
            <a class="btn btn-secondary btn-notification position-relative" data-notification-anchor type="button" data-bs-offset="0,5" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                <i class="fas fa-bell icon animate__animated animate__infinite {{ notification_alerts != 0 ? 'animate__swing' }}"></i>
                <span class="badge text-bg-danger position-absolute top-0 start-100 translate-middle rounded-pill {{ not notification_alerts ? 'd-none' }}">
                    <span data-count>{{ notification_alerts }}</span>
                    <span class="visually-hidden">unread messages</span>
                </span>
            </a>
            {{ header_notification_dropdown }}
        </div>
    {% endblock %}
</div>