{# apply modal using include #}

{# 
    {{ include('modal.html.twig', { 
        modalTitle: 'Add a new Ebook',
        modalId: 'my-modal', 
        modalContent: 'My custom value' 
    }) }} 
#}

{# apply modal using embed #}

{# 
    {% embed "modal.html.twig" %}

        {% block modalTitle %}
            Your custom Modal Content
        {% endblock %}

        {% block modalContent %}
            Some content for the right teaser box
        {% endblock %}

    {% endembed %} 
#}

{% set modalButtons = modalButtons is defined ? modalButtons : [{
    'attributes': {
        'type': 'button',
        'class': 'btn btn-secondary',
        'data-bs-dismiss': 'modal'
    },
    'label': 'Close'
}] %}

{# |is_array is a custom filter by eau #}
{% set modalButtons = modalButtons|is_array ? modalButtons : [] %}
{% set has_multiple_buttons = modalButtons|length > 1 %}
{% set modalBackdrop = has_multiple_buttons ? 'static' : modalBackdrop|default(true) %}

<div 
    class="modal fade eau-modal {{ modalClass|default('') }}" 
    id="{{ modalId|default('') }}" 
    tabindex="-1" 
    aria-labelledby="{{ modalName|default('undefined') }}" 
    aria-hidden="true"
    data-bs-backdrop="{{ modalBackdrop|boolean_string }}"
    data-bs-keyboard="{{ modalKeyboard|default(false)|boolean_string }}"
    data-bs-visible="{{ modalVisible|default(false)|boolean_string }}"
>

    <div class="modal-dialog {{ modalDialogClass|default('') }}">
        <div class="modal-content">

            {% block modalHeader %}
                {% if modalTitle|default(false) or not modalCloseButtonHidden|default(false) %}
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {% block modalTitle %}
                                {{ modalTitle|default('')|raw }}
                            {% endblock %}
                        </h5>
                        {% if modalCloseButtonHidden|default(not has_multiple_buttons) %}
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}
            
            <div class="modal-body">
                {% block modalContent %}
                    {{ modalContent|raw }}
                {% endblock %}
            </div>

            {% block modalFooter %}
                {% if modalButtons|length %}
                    <div class="modal-footer">
                        {% for button in modalButtons %}
                            {% if not button|is_scalar and button.attributes|default(false)|is_array %}
                                <button {{ button.attributes|html_attributes|raw }}>
                                    {{ button.label|default('No Label!')|raw }}
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}

        </div>
    </div>
</div>