<table class="table datagrid {{ table.rows is empty ? 'datagrid-empty' }}">
    {% if table.rows|length %}
        <thead>
            {% block table_head %}
                <tr>
                    {% if table.batchActions %}
                        <th>
                            <div class="form-check">
                                <span><input type="checkbox" class="form-check-input form-batch-checkbox-all" id="form-batch-checkbox-{{ table.name|default('all') }}"></span>
                            </div>
                        </th>
                    {% endif %}
                    {% for column in table.columns %}
                        {% do table.configureCell(column, loop.index0) %}
                        {% if not column.hidden %}
                            <th {{ column.attributes|default([])|html_attributes|raw }}>
                                <span class="{{ column.meta('unit-class') }}">{{ column.value }}</span>
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endblock table_head %}
        </thead>
    {% endif %}

    <tbody>
        {% block table_body %}
            {% for row in table.rows|slice(table.paginator.currentPageFirstItem - 1, table.paginator.itemsPerPage) %}
                <tr data-id="cell-group-{{ loop.index }}">
                    {% if table.batchActions %}
                        <td class="batch-actions-selector">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input form-batch-checkbox" id="form-batch-checkbox-{{ loop.index0 }}" value="{{ attribute(row, table.associateIndex).value }}">
                            </div>
                        </td>
                    {% endif %}
                    {% for cell in row %}
                        {% do table.configureCell(cell, loop.index0) %}
                        {% if not cell.hidden %}
                            <td {{ cell.attributes|default([])|html_attributes|raw }}>
                                {% if cell.meta('anchor')|default(false)|is_array %}
                                    <a {{ cell.meta('anchor')|html_attributes|raw }}>{{ cell.value }}</a>
                                {% else %}
                                    <span class="{{ cell.meta('unit-class') }}">{{ cell.value }}</span>
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% else %}
                {# on empty table.rows #}
                {% block table_body_empty %}
                    {% for i in range(1, 5) %}
                        <tr class="empty-row">
                            {% for x in 1..6 %}
                                <td><span></span></td>
                            {% endfor %}
                        </tr>

                        {% if 2 == loop.index %}
                            <tr class="no-results">
                                <td colspan="100">
                                    {{ t('datagrid.no_results', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endblock table_body_empty %}
                {# end empty table.rows #}
            {% endfor %}
        {% endblock table_body %}
    </tbody>

    <tfoot>
        {% block table_footer %}
        {% endblock table_footer %}
    </tfoot>
</table>

{% if table.rows|length %}
    <div class="content-panel-footer without-padding without-border pt-3">
        {% block paginator %}
            {{ table.paginator.toHtml|raw }}
        {% endblock paginator %}
    </div>
{% endif %}