{# All theme layout must extend from the original EasyAdmin Bundle template #}
{# Else, an infinite loop will occur #}

{% extends eau.templatePath('layout', true) %}

{% block head_javascript %}
    {{ parent() }}
    {{ _slot(constant('App\\Constants\\SlotConstants::SLOT_HEADER'))|raw }}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    {{ _slot(constant('App\\Constants\\SlotConstants::SLOT_FOOTER'))|raw }}
{% endblock %}

{% block wrapper_wrapper %}
    {{ parent() }}

    {% block modal_wrapper %}
        {% if eau.modals|length %}
            {% include 'utils/modal/modals-wrapper.html.twig' %}
        {% endif %}
    {% endblock %}

    <div id="app-user-context" 
        data-user-token="{{ csrf_token('app-user') }}"
        data-app-url="{{ asset('') }}"
        data-async-notification-route="{{ path('async_notification') }}"
    ></div>
{% endblock %}

{% block responsive_header_logo '' %}

{# mobile base header #}
{% block responsive_header %}
    {{ parent() }}
    {% block responsive_header_notification %}
        {% include eau.templatePath('section/user_notification') %}
    {% endblock %}
{% endblock %}

{# desktop based header #}
{% block content_top_header %}
    {{ parent() }}
    {% block header_notification_wrapper %}
        {% include eau.templatePath('section/user_notification') with {baseClass: 'ms-3 d-none d-lg-block'} %}
    {% endblock %}
{% endblock %}