{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var eau \App\Context\EauContext #}
{% extends eau.templatePath('crud/form_theme', true) %}

{%- macro widget_aside(context) -%}
    {%- if context.type == 'button' %}
        <button {{ context.value.attributes|html_attributes|raw }}>
            {% if context.value.label is not null %}
                {{ context.value.label|raw }}
            {% else %}
                <i class="{{ context.value.icon }}"></i>
            {% endif %}
        </button>
    {% else %}
        <span class="input-group-text">
            {% if context.type == 'icon' %}
                <i class="{{ context.value }}"></i>
            {% else %}
                {{ context.value }}
            {% endif %}
        </span>
    {%- endif -%}
{%- endmacro -%}

{%- block form_widget_simple -%}
    {% set prepend_content = _simple_widget_concat_context(prepend_content|default(null)) %}
    {% set append_content = _simple_widget_concat_context(append_content|default(null)) %}
    {%- if prepend_content or append_content -%}
        <div class="input-group">
            {{- prepend_content ? _self.widget_aside(prepend_content) -}}
            {{- parent() -}}
            {{- append_content ? _self.widget_aside(append_content) -}}
        </div>
    {%- else -%}
        {{ parent() }}
    {% endif %}
{%- endblock form_widget_simple -%}

{%- block password_widget -%}
    {%- if togglePassword|default(false) -%}
        {% set append_content = {
            type: 'button',
            value: {
                'icon': "fas fa-eye",
                'attributes': {
                    'data-password-toggle': '#' ~ id
                }
            }
        } %}
    {% endif %}
    {{- parent() -}}
{%- endblock password_widget -%}