{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var eau \App\Context\EauContext #}
{% extends eau.templatePath('crud/form_theme', true) %}

{# A macro to control how the input siders work #}

{%- macro widget_aside(context) -%}
    {%- if context.type == 'button' %}
        <button {{ context.value.attributes|html_attributes|raw }}>
            {% if context.value.label is not null %}
                {{ context.value.label|raw }}
            {% else %}
                <i class="{{ context.value.icon }}"></i>
            {% endif %}
        </button>
    {% else %}
        <span class="input-group-text">
            {% if context.type == 'icon' %}
                <i class="{{ context.value }}"></i>
            {% else %}
                {{ context.value }}
            {% endif %}
        </span>
    {%- endif -%}
{%- endmacro -%}

{# This upgrade allows add icon, text or custom button to the side of the input using affix options #}

{%- block form_widget_simple -%}
    {% set affix = _evaluate_widget_affix(affix) %}
    {%- if affix.prepend or affix.append -%}
        <div class="input-group">
            {{- affix.prepend ? _self.widget_aside(affix.prepend) -}}
            {{- parent() -}}
            {{- affix.append ? _self.widget_aside(affix.append) -}}
        </div>
    {%- else -%}
        {{ parent() }}
    {% endif %}
{%- endblock form_widget_simple -%}

{# The togglePassword options enables an eye that can be used toggle password #}

{%- block password_widget -%}
    {%- if togglePassword|default(false) -%}
        {% set affix = affix|merge({'append': {
            type: 'button',
            value: {
                'icon': "fas fa-eye",
                'attributes': {
                    'data-password-toggle': '#' ~ id
                }
            }
        }}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock password_widget -%}