{% extends eau.templatePath('layout') %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/TreeDataNext/TreeDataNext.css') }}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xl-8 mb-4">
            <div class="border p-3 bg-light rounded-3">
                <div id="tree-nodes" class="overflow-auto py-4"></div>
            </div>
        </div>
        <div class="col-xl-4">
            <h5>Linear Tree View</h5>
            <hr>
            <div class="border p-3">
                <div class="tree-list overflow-auto" id="tree-list"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <div data-node-structure="{{ structure|raw }}"></div>
    <script src="{{ asset('vendor/TreeDataNext/TreeDataNext.js') }}"></script>
    <script type="module" src="{{ asset('resource/js/hierarchy.js') }}"></script>
{% endblock %}