{# apply modal using include #}

{# 
    {{ include('modal.html.twig', { 
        modalTitle: 'Add a new Product', 
        modalId: 'my-modal', 
        modalContent: 'My custom value' 
    }) }} 
#}

{# apply modal using embed #}

{# 
    {% embed "modal.html.twig" %}

        {% block modalTitle %}
            Your custom Modal Content
        {% endblock %}

        {% block modalContent %}
            Some content for the right teaser box
        {% endblock %}

    {% endembed %} 
#}

{% set modalButtons = modalButtons|default([{
    'attributes': {
        'type': 'button',
        'class': 'btn btn-secondary',
        'data-bs-dismiss': 'modal'
    },
    'label': 'Close'
}]) %}

{# |is_array is a custom filter by eau #}
{# @var array modalButtons #}
{% set modalButtons = modalButtons|is_array ? modalButtons : [] %}
{% set has_multiple_buttons = modalButtons|length > 1 %}

<div 
    class="modal eau-modal {{ modalClass|default('fade') }}" 
    id="{{ modalId|default('') }}" 
    tabindex="-1" 
    aria-labelledby="{{ modalName|default('undefined') }}" 
    aria-hidden="true"
    data-bs-backdrop="{{ modalBackdrop|default(has_multiple_buttons ? 'static' : '')|bool_string }}"
    data-bs-keyboard="{{ modalKeyboard|default(false)|bool_string }}"
    data-bs-show="{{ modalShow|default(false)|bool_string }}"
>

    <div class="modal-dialog {{ modalDialogClass|default('') }}">
        <div class="modal-content">

            {% block modalHeader %}
                {% if modalHeader|default(false) %}
                    <div class="modal-header {{ modalHeaderClass|default('') }}">
                        <h1 class="modal-title">
                            {% block modalTitle %}
                                {{ modalTitle }}
                            {% endblock %}
                        </h1>
                        {% if modalCloseButtonHidden|default(not has_multiple_buttons) %}
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}
            
            <div class="modal-body {{ modalBodyClass|default('') }}">
                {% block modalContent %}
                    {{ modalContent }}
                {% endblock %}
            </div>

            {% block modalFooter %}
                {% if modalFooter|default(modalButtons|length) %}
                    <div class="modal-footer {{ modalFooterClass|default('') }}">
                        {% for button in modalButtons %}
                            {% if not button|is_scalar and button.attributes|default(false)|is_array %}
                                <button {{ button.attributes|html_attributes|raw }}>
                                    {{ button.label|default('No Label!') }}
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}

        </div>
    </div>
</div>