{% extends 'security/layout.html.twig' %}

{% block login_form %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

{% endblock %}

{% block login_footer %}
    {% block hyperlink_login %}
        <div>Have an account? <a href="{{ path('app_login') }}">Back to login</a></div>
    {% endblock %}
{% endblock %}